<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UWPHook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <UWPHook.Properties.Settings>
            <setting name="ChangeLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetLanguage" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StreamMode" serializeAs="String">
                <value>False</value>
            </setting>
        </UWPHook.Properties.Settings>
    </userSettings>
</configuration>
