<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UWPHook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <UWPHook.Properties.Settings>
            <setting name="ChangeLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="Seconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StreamMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteamGridDbApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedSteamGridDB_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedSteamGridDB_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedSteamGridDB_nfsw" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedSteamGridDB_Humor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OfferedSteamGridDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tags" serializeAs="String">
                <value>READY TO PLAY,XBOX</value>
            </setting>
            <setting name="SteamGridDB_Style" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>any</string>
                        <string>alternate</string>
                        <string>blurred</string>
                        <string>white_logo</string>
                        <string>material</string>
                        <string>no_logo </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SteamGridDB_Type" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>any</string>
                        <string>static</string>
                        <string>animated</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SteamGridDB_nfsw" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>false</string>
                        <string>any</string>
                        <string>true</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SteamGridDB_Humor" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>false</string>
                        <string>any</string>
                        <string>true</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LogLevel" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>ERROR</string>
                        <string>DEBUG</string>
                        <string>TRACE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SelectedLogLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </UWPHook.Properties.Settings>
    </userSettings>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
